.dashboard {
  h3{
    text-align: center;
  }
  .product {
    flex-direction: column;
    text-align: center;
    align-content: center;
    text-overflow: ellipsis;
    p {
      margin: 0;
      padding: 0;
      border: 1px solid gray;
      padding: 1rem 0;
      cursor: pointer;
      &:hover{
        background-color: lightblue;
      }
    }
  }
}
