<h2>Mis Productos</h2>

<div>
  <label>Nombre producto:
    <input #productName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(productName.value); productName.value=''">
    add
  </button>
</div>

<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}">
      <span class="badge">{{product.id}}</span> {{product.name}}
    </a>
    <button class="btn btn-warning" title="delete product"
      (click)="delete(product)">x</button>
  </li>
</ul>
